<div class="sidenav">
    <img src="https://ccdev.scanomat.com/app/images/coffeecloud/coffeecloud_logo.svg" alt="coffecloud-image" class="coffecloud-image">
    <p class="root">Root</p>
    <a href="#" class="trans">Overview</a>
    <a href="#" id="dash123" class="dashboardhidden">Dashboard</a>
    <a href="#" class="trans">Machine Settings</a>
    <a href="#" class="trans">Business model</a>
    <a href="#" class="trans">Insights</a>
    <a href="#" class="trans">Logs</a>
    <a href="#" class="trans">Data Visualization</a>
    <a href="#" class="trans">Activity</a>
    <a href="#" class="trans">Notifications</a>
    <a href="#" class="trans">Duplicate Machines</a>
    <div class="space">
        <p>v2.0.16</p>
    </div>
    <div class="line">
    </div>
    <a href="#" class="trans">Release Notes</a>
    <a href="#" class="trans">Settings</a>
    <a href="#" class="trans">Log out</a>
</div>