<div class="sidenav">
    <img src="https://ccdev.scanomat.com/app/images/coffeecloud/coffeecloud_logo.svg" alt="coffecloud-image" class="coffecloud-image">
    <p class="root">Root</p>
    <a routerLinkActive="active" class="trans"><i class="fa-regular fa-map"></i>Overview</a>
    <a class="trans" routerLinkActive="active" routerLink="/coffeecloud/dashboard"><i class="fa-brands fa-microsoft"></i>Dashboard</a>
    <a routerLinkActive="active" class="trans"><i class="fa-solid fa-wrench"></i>Machine Settings</a>
    <a routerLinkActive="active" class="trans"><i class="fa-solid fa-briefcase"></i>Business model</a>
    <a routerLinkActive="active" class="trans"><i class="fa-solid fa-chart-column"></i>Insights</a>
    <a routerLinkActive="active" class="trans"><i class="fa-solid fa-arrow-rotate-right"></i>Logs</a>
    <a routerLinkActive="active" class="trans"><i class="fa-solid fa-signal"></i>Data Visualization</a>
    <a routerLinkActive="active" class="trans"><i class="fa-solid fa-arrows-up-down"></i>Activity</a>
    <a routerLinkActive="active" class="trans"><i class="fa-solid fa-bell"></i>Notifications</a>
    <a routerLinkActive="active" class="trans"><i class="fa-solid fa-dumpster"></i>Duplicate Machines</a>
    <div class="space">
        <p>v2.0.16</p>
        <i class="fa-solid fa-gear"></i> 
    </div>
    <div class="line"> 
    </div>
    <a routerLinkActive="active" class="trans"><i class="fa-solid fa-note-sticky"></i>Release Notes</a>
    <a routerLinkActive="active" class="trans"><i class="fa-solid fa-gear"></i>Settings</a>
    <a routerLinkActive="active" class="trans" (click)="logoutbutton()"><i class="fa-solid fa-right-from-bracket"></i>Log out</a>
</div>