<div class="forgeneral">
    <div class="grid-container">
      <div class="grid-item machine-health">
        <div class="machine-div">
          <div class="dropdown">
            <h3>Machine Health<i class="fa-solid fa-square-caret-down"></i></h3>
            <div class="dropdown-content">
              <table>
                <thead>
                  <tr>
                    <th>MACHINE</th>
                    <th>HEALTH</th>
                    <th>CAUSE</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>8202</td>
                    <td>WEAK</td>
                    <td>Machine was not cleaned for 5422 hours.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
  
          <div class="machine-div-child">
            <h5 class="average-border">Average</h5>
            <a><i class="fa-solid fa-circle-info"></i></a>
            <div class="modal">
              <!-- Modal content -->
              <div class="modal-content">
                <div class="dashboard-info">
                  <h2>Dashboard Info</h2>
                </div>
                <div class="mid-info">
                  <h1>Machine Health</h1>
                  <p>
                    The Health indicator gives an idea of the health of machines.
                    The algorithm is currently based on errors and clean cycles.
                  </p>
                </div>
                <div class="close-info">
                  <button type="button" class="btn btn-danger close">
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar-line-card"></div>
        <!-- <h2 class="healthy-h2"></h2> -->
      </div>
  
      <div class="grid-item time-since-cleaned">
        <div class="machine-div">
          <div class="dropdown1">
            <h3>
              Time since cleaned<i class="fa-solid fa-square-caret-down"></i>
            </h3>
  
            <div class="dropdown-content1">
              <table>
                <thead>
                  <tr>
                    <th>MACHINE</th>
                    <th>Event</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>8202</td>
                    <td>WEAK</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
  
          <div class="machine-div-child">
            <h5 class="average-border">Average</h5>
          </div>
        </div>
        <div class="navbar-line-card"></div>
        <h2 class="days"></h2>
      </div>
  
      <div class="grid-item coffee-amount">
        <div class="machine-div-sp">
          <h3>Coffee</h3>
          <div class="machine-div-child">
            <h5 class="card-3 active">Today</h5>
            <h5 class="card-4">This Week</h5>
            <h5 class="card-4">This Month</h5>
            <h5 class="card-4">Last Month</h5>
          </div>
        </div>
        <div class="navbar-line-card"></div>
        <h2 class="gram">grams</h2>
        <!-- <p class="arrow">-578.53% &#8628;</p> -->
      </div>
  
      <div class="grid-item live-chart">
        <div class="machine-div-sp1">
          <h3>Live Chart - Realtime</h3>
        </div>
        <div class="navbar-line-card"></div>
        <select class="opt">
          <option>Last 8 hours</option>
          <option>Last 24 hours</option>
          <option>Last 1 week</option>
        </select>
        <div></div>
      </div>
  
      <div class="grid-item no-of-cups-realtime">
        <div class="machine-div-sp2">
          <h3>No of cups - Realtime</h3>
          <div class="machine-div-child">
            <h5 class="card-5 active1">This Week</h5>
            <div class="sub-flex">
              <h5 class="card-6">This Month</h5>
              <h5 class="card-7">Today</h5>
            </div>
          </div>
        </div>
        <div class="navbar-line-card"></div>
        <h2 class="cupCount"></h2>
        <!-- <p class="arrow-cups">&#8628;</p> -->
      </div>
  
      <div class="grid-item total-cups">
        <div class="machine-div">
          <h3>No of cups - Realtime</h3>
          <div class="machine-div-child">
            <h5 class="average-border">Total</h5>
          </div>
        </div>
        <div class="navbar-line-card"></div>
        <!-- <h2 class="healthy-h2-cups"></h2> -->
      </div>
    </div>
    <div class="grid-container-2">
      <div class="grid-item-2 piechartsgen">
        <h4>Order - Doughnut</h4>
        <div class="navbar-line-cardtech"></div>
      </div>
  
      <div class="tabler">
        <div class="grid-item-2 piechartstech">
          <h4>Orders - Realtime</h4>
          <div class="navbar-line-card"></div>
        </div>
        <div class="table-inside">
          <table>
            <tr>
              <th>Product Name</th>
              <th>Machine Name / Serial No</th>
              <th>Date</th>
            </tr>
          </table>
        </div>
        <div class="viewmore">
          <button class="viewmorebtn">View More&#62;&#62;</button>
        </div>
      </div>
    </div>
  </div>
  
