.DashBoard {
  display: flex;
  justify-content: center;
  padding-left: 60px;
  background-color: #1f2229;
}
.active{
  border: 1px solid #4f5967;
  border-bottom: none;
}
.General {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: #a7b1c2;
  font-weight: bold;
}
.Technical {
  margin-left: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: #a7b1c2;
  font-weight: bold;
}