<div class="signInOverlayContent">
  <div class="overlay-content">
    <div class="centerIn">
      <div>
        <button class="centerIn-close">Clear All</button>
      </div>
      <i class="fa-solid fa-xmark" (click)="onClose()"></i>
    </div>
    <div class="sub-grid">
      <div class="one">
        <p>IOS Version</p>
        <i class="fa-solid fa-chevron-down"></i>
      </div>
      <div class="one">
        <p>FW Version</p>
        <i class="fa-solid fa-chevron-down"></i>
      </div>
      <div class="one">
        <p>App Version</p>
        <i class="fa-solid fa-chevron-down"></i>
      </div>
      <div class="one">
        <p>Devices</p>
        <i class="fa-solid fa-chevron-down"></i>
      </div>
      <div class="one">
        <p>Bluetooth</p>
        <i class="fa-solid fa-chevron-down"></i>
      </div>
      <div class="one">
        <p>Machine Type</p>
        <i class="fa-solid fa-chevron-down"></i>
      </div>
    </div>
    <div class="apply">
      <button class="centerIn-close">Apply Filter</button>
    </div>
  </div>
</div>
