<div class="fortechnical">
  <div class="grid-containertech">
    <div class="grid-itemtech machine-healthtech" id="machinetroble">
      <div class="machine-divtech">
          <h3>Top error</h3>
          <div class="machine-div-childtech">
            <h5 class="average-bordertech active">This Month</h5>
            <h5 class="average-bordertechweek">This Week</h5>
        
          </div>
        </div>
        <div class="navbar-line-cardtech"></div>
        <h2 class="healthy-h2tech">Water Flow error</h2>
        <div class="tsub">
          <h3 class="occur">(1576 occurrences)</h3>
          <button class="troublebtn">Troubleshoot</button>
        </div>
    </div>

    <div class="grid-itemtech time-since-cleanedtech" id="errorrealtime">
      <div class="machine-divtech">
          <h3>Last error - Realtime</h3>
          <div class="machine-div-childtech">
            <a id="notifyToggle">
                <i class="fa-solid fa-bell"></i>
            </a>
            <h5 class="average-borderteche">Last Error</h5>
          </div>
        </div>
        
        <div class="navbar-line-cardtech"></div>
        
        <h2 class="daystech">Top piston error <span class="piston">2 hours ago</span></h2>
        <div class="tsub">
          <h4 class="machname">Machine : Accenture</h4>
          <button class="trouble-btn">Troubleshoot</button>
        </div>
    </div>

    <div class="grid-itemtech coffee-amounttech" id="totalerrors">
      <div class="machine-div-sptech">
          <h3>No of errors</h3>
          <div class="machine-div-childtech">
            <h5 class="card-3tech">Today</h5>
            <h5 class="card-4tech">This Week</h5>
            
          </div>
        </div>
        <div class="navbar-line-cardtech"></div>
        <h2 class = "errornumber">57</h2>
        <p class="arrowtech">-578.53% &#8628;</p>
    </div>

    <div class="grid-itemtech live-charttech">
      <div class="machine-div-sp1tech">
        <h3>Live Chart - Realtime</h3>
      </div>

      <div class="navbar-line-cardtech"></div>
      <select class="opttech">
        <option>Last 8 hours</option>
        <option>Last 24 hours</option>
        <option>Last 1 week</option>
      </select>
      <div id="containertech"></div>
    </div>

    <div class="grid-itemtech no-of-cups-realtimetech">
      <div class="machine-div-sp2tech">
        <h3>No of errors - Realtime</h3>
        <div class="machine-div-childtech">
          <h5 class="card-5tech">This Month</h5>
        </div>
      </div>
      <div class="navbar-line-cardtech"></div>
      <h2 class="realtimeerrors">6,981</h2>
    </div>

    <p class="arrow-cupstech">-6.42% &#8628;</p>

    <div class="grid-itemtech total-cupstech" id="totalerrorrr">
      <div class="machine-divtech">
            <h3>No of errors - Realtime</h3>
            <div class="machine-div-childtechh">
              <h5 class="average-bordertech">This Year</h5>
              <h5 class="average-bordertechweek">Total</h5>
            </div>
          </div>
          <div class="navbar-line-cardtech"></div>
          <h2 class="healthy-h2-cupstech">14,334</h2>
    </div>
  </div>
  <div class="grid-container-2tech">
    <div class="grid-item-2tech piecharts2tech">
      <h4>Error - Doughnut</h4>
      <div class="navbar-line-cardtech"></div>
      <div id="chartdivtech"></div>
    </div>

    <div class="tablertech">
      <div class="grid-item-2tech piechartstech">
        <h4>Top Machines With Errors - Realtime</h4>
      </div>
      <div class="navbar-line-cardtech"></div>

      <div class="serials">
        <h5>Machine Name / Serial No:</h5>
        <input type="text" class="textborder" />
        <select class="opttech">
          <option>Last 24 hours</option>
          <option>Today</option>
          <option>This Week</option>
          <option>This Month</option>
        </select>
        <select class="opttech">
          <option>10</option>
          <option>25</option>
          <option>50</option>
          <option>100</option>
        </select>
      </div>

      <div class="table-insidetech">
        <table id="error-table">
          <thead>
            <tr>
              <th>Machine Name / Serial No</th>
              <th colspan="2">No Of Error</th>
              <th>Total</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody id="table-body"></tbody>
        </table>
      </div>

      <div id="pagination-controls" class="pagination-controls-tech"></div>
    </div>
  </div>
</div>
