<div class="signInOverlayContentmodal">
  <div class="overlay-contentmodal">
    <div class="centerInmodal">
      <h4>Coffee Machine</h4>
      <i class="fa-solid fa-xmark" (click)="onCancel()"></i>
    </div>
    <div class="sub-gridmodal">
      <button class="all">Expand All</button>
      <button class="all">Collapse All</button>
      <button class="all">Recent</button>
    </div>
    <div>
      <h4 class="group">All Groups</h4>
      <h4 class="root">root</h4>
    </div>
  </div>
</div>
