<div class="HeaderSection">
  <div class="HeaderSpaceBetween">
    <div class="Header-Alignment">
      <div class="square-icon">
        <a href="#">
          <i class="fa-solid fa-arrow-left"></i>
        </a>
      </div>
      <div class="square-icon">
        <a (click)="OnBar()">
          <i class="fa-solid fa-bars"></i>
        </a>
      </div>
    </div>
    <div class="searchEngine">
      <div class="magnifying-glass">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <input type="text" placeholder="Search for machines..." />
    </div>
  </div>
  <div class="icons">
    <div>
      <button class="icon-button-filter">
        <i class="fa fa-filter" style="font-size: 20px; color: #fff"></i>
      </button>
    </div>
    <div>
      <button class="icon-button-pin" id="modalright">
        <img
          src="https://ccdev.scanomat.com/app/images/coffeecloud/Faucet-Icon-Transparent-20x20.png"
        />
      </button>
    </div>
  </div>
</div>
<div class="navbar-line"></div>
<div class="SubHeader">
  <div class="header">
      <h2>Group :  <span class="spanspecial">All Groups &nbsp;(11119 machines)</span></h2>
      <p>Online : <span class="spanspecial">2930</span></p>
  </div>
</div>